{% extends 'baseFrontend.html.twig' %}
{% block header %}
    {{ parent() }}

{% endblock %}
{% block content %}
    {{ parent() }}
    <body style="">
    <!-- Page Wrap ===========================================-->
    <div id="wrap">
        <!--======= CONTACT =========-->
        <section class="contact">
            <div class="container">

                <!--======= CONTACT INFORMATION =========-->
                <div class="contact-info">
                    <div class="row">
                        <!--======= CONTACT FORM =========-->
                        <div class="contact-form">


                            <div class="tittle"><h2>Add a new Service</h2>
                                <hr>
                                <p>Feel free to Post a new Service with the customization you want !</p>
                            </div>


                            <div id="contact_message" class="success-msg"><i class="fa fa-paper-plane-o"></i>Thank You.
                                Your Message has been Submitted
                            </div>
                            <center>

                            <form role="form" id="contact_form" method="post" onsubmit="return false">
                                <ul class="row">
                                    <li class="col-sm-6" >
                                        <label>Give a title for your new Service *
                                            <input type="text" class="form-control" name="name" id="name"
                                                   placeholder="">
                                        </label>
                                    </li>

                                    <li class="col-sm-12">
                                        <button type="submit" value="submit" class="btn" id="btn_submit"
                                                onclick="proceed();">Post Service !
                                        </button>
                                    </li>
                                </ul>
                            </form>
                            </center>
                        </div>
                    </div>
                </div>
            </div>
        </section>


    </div>


    <!-- begin map script-->
    <script type="text/javascript">
        // Use below link if you want to get latitude & longitude
        // http://www.findlatitudeandlongitude.com/find-address-from-latitude-and-longitude.php
        $(document).ready(function () {
//set up markers
            var myMarkers = {
                "markers": [{

                    "latitude": "-37.8176419",
                    "longitude": "144.9554397",

                    "icon": "{{ asset('images/map-locator.png') }}",
                    "baloon_text": '121 King St, Melbourne VIC 3000, Australia'
                }]
            };

//set up map options
            $("#map").mapmarker({
                zoom: 15,
                center: '121 King Street Melbourne Victoria 3000 Australia',
                markers: myMarkers
            });
        });
    </script>

    <div style="position: absolute; left: 0px; top: -2px; height: 1px; overflow: hidden; visibility: hidden; width: 1px;">
        <span style="position: absolute; font-size: 300px; width: auto; height: auto; margin: 0px; padding: 0px; font-family: Roboto, Arial, sans-serif;">BESbswy</span>
    </div>
    </body>
{% endblock %}